.card-body{
    border-radius: 0px !important;
}

.card{
    border: none !important;
    border-radius: 0px !important;
    margin: 0px;
}

.card-img-top{
    height: 360px !important;
    resize: both !important;
    border-radius: 0px !important;
}

.btn{
    background-color: rgba(218, 165, 32, 0) !important;
    border:1px solid  rgba(255, 255, 255, 0.037) !important;
    color: rgb(255, 255, 255) !important;
    border-radius: 0px !important;
}

.light-green{
    color: rgb(255, 255, 255);
}

.product{
    color: #000 !important;
    position: relative;
    text-align: center !important;
    padding: 10px !important;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.btn-green{
    background-color: green !important;
}
.product:hover {
    box-shadow: 0px 0px 10px 0px lightgray;
    transform: translateY(-10px);
  }
  


.details{
    color: #000 !important;
    float: left;
    display: block;
    width: 100% !important;
}

.details v{
    font-size: 18px !important;
    font-weight: bolder !important;
    text-align: center !important;
}

.details h6{
    font-size: 15px !important;
    font-weight: lighter !important;
    text-align: center !important;
    font-style: normal !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.details .accordion-button{
    width: 85% !important;
    float: left !important;
    background-color: rgba(242, 242, 242, 0.574) !important;
    border: 1px solid rgba(0, 0, 0, 0.21) !important;
    color: #000 !important;
}


.product-image{
    width: 100% !important;
    height:400px !important;
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    float: left !important;
  }




  .thumb-image{
    width: 100px !important;
    height: 80px !important;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative !important;
    display: block;
    cursor: pointer;
    border: 1px solid rgb(148, 148, 148) !important;
    margin: auto !important;
  }


.form-input{
    width: 100%;
    float: left;
}


  .item-image{
    width: 100% !important;
    float: left !important;
    position: relative !important;
    display: block;
    transition: 500ms;
    cursor:zoom-in;
  }


.item-image:hover {
    background-size: 120%;
  }