
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500&family=Oxygen&display=swap');

*{
  font-family: 'Oxygen', sans-serif !important;
}

input{
  border: 1px solid rgb(56, 56, 56) !important;
  border-radius: 4px !important;
  float: left;
  width: 100%;
}

.link,a{
  border: none !important;
  text-decoration: none !important;
}
button,.btn{
  border: none !important;
  border-radius: 5px !important;
  text-align: center !important;
}

.row{
  width: 100% !important;
  margin: 0px !important;
}