@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&family=Montserrat:wght@900&family=Righteous&display=swap');



*{
  font-family: 'Oxygen', sans-serif !important;
}

input{
  border: 1px solid rgb(56, 56, 56) !important;
  border-radius: 4px !important;
  float: left;
  width: 100%;
}

.link,a{
  border: none !important;
  text-decoration: none !important;
}
button,.btn{
  border: none !important;
  border-radius: 5px !important;
  text-align: center !important;
}

.row{
  width: 100% !important;
  margin: 0px !important;
}

body{
  background-color: rgb(220, 236, 214);
  background-image: url('./images/bg/wave2.jpeg');
  background-blend-mode:soft-light;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,800;1,800&family=Paytone+One&family=Poppins:wght@200&family=Silkscreen:wght@700&family=Syncopate:wght@700&display=swap');

b,h1{
  font-family:'Righteous', sans-serif;
}
h2,h5,h6{
  font-family:'Open Sans', sans-serif;
}
h3,h4{
  font-family: 'Comfortaa', sans-serif;
  text-align: center !important;
}

.toast{
  z-index: 100000 !important;
  position:fixed !important;
  float: right !important;
  right: 20px !important;
  display: block !important;
}